* { 

    padding: 0; 

    margin: 0; 

} 

  

body { 

    background-color: #FFFFFF ; 

    color: #000000 ; 

} 

  

header { 

    display: flex; 

    border: 5px solid #9c0a0a07; 

    background-color: rgba(252, 125, 125, 0.104); 

} 

  

header img { 

    max-width: 300px; 

    max-height: 300px; 

} 


header ul { 

    display: flex; 

    justify-content: end; 

    color: black; 

} 

  

header li { 

     

    list-style-type: none; 

    color: black; 

    padding-left: 100px; 

    padding-top: 100px; 

} 

  

header li a{ 

    font-size: 30px; 

    font-weight: bold; 

    color: rgb(0, 0, 0); 

    text-decoration: none; 

} 

  

header li a:hover{ 

    color: rgb(0, 0, 0); 

    text-decoration: underline; 

    font-size: 35px; 

} 

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    
}  

.buttons button {
    width: 90px;
    height: 90px;
    margin: 5.3px;
}

#titulosemanal { 

    text-align: center; 

    margin-top: 30px; 

    font-weight: bolder; 

    font-size: 50px; 

    font-family: Arial, Helvetica, sans-serif; 

    color: #9C0A0A;

     

} 

#titulosemanal2 { 

    text-align: center; 

    margin-top: 20px; 

    font-weight: bolder; 

    font-size: 35px; 

    font-family: Arial, Helvetica, sans-serif; 

    color: #9C0A0A;

     

} 

.semNoticias {
    display: flex; 

    flex-direction: row; 

    flex-wrap: wrap; 

    justify-content: center; 

    align-items:flex-start; 

    align-content: center; 

    background-color: #dcd4d4; 

    border: 4px #9C0A0A solid; 

    border-radius: 4px;

    margin-top: 10px; 

    margin-right: 40px; 

    margin-left: 40px; 

    padding-right: 5px; 

    padding-top: 20px;

    padding-bottom: 20px;

    padding-left: 5px; 
}

span {
    color: #dcd4d4;
}


#bigImage img{
    max-width: 800px; 

    max-height: 800px; 

    padding-right: 30px; 
    padding-bottom: 10px;
    padding-top: 10px;
}
.conteudobox1 { 
    
    display:none; 

    flex-direction: row; 

    flex-wrap: wrap; 

    justify-content: center; 

    align-items:center; 

    align-content: center; 

    background-color: rgba(252, 125, 125, 0.104); 

    border: 4px #ffffff8b solid; 

    border-radius: 4px; 

    margin-top: 10px; 

    margin-right: 5px;
    margin-left:5px ; 

    padding-right: 3px; 

    padding-left: 3px; 

     

} 



  

.conteudobox1 img { 

    max-width: 300px; 

    max-height: 300px; 

    padding-right: 30px; 
    padding-bottom: 10px;
    padding-top: 10px;



} 

  

.conteudobox1 p { 

    font-size: 23px; 

} 

  

.jogos { 
    display: none;  
} 

.diaadia {
    display: none;
}





  



  

footer { 

    display: flex; 

    justify-content:space-evenly; 

    background-color: rgba(252, 125, 125, 0.104); 

    border-top: 3px #9c0a0a07 solid; 

    border-bottom: 7px #9c0a0a07 solid; 

    color: black; 


    margin-top: 40px; 

    padding-top: 30px; 

} 


